<!-- Sabit Admin Top Panel -->
<div class="container-fluid">
    <div class="header-body">
        <!-- Card stats -->
        <div class="row">

            <div class="col-xl-4 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div onclick="location.href='@Url.Action("NewUser", "Admin")'" style="cursor: pointer" class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Hesap Oluştur</h5>
                                <span class="h2 font-weight-300 mb-0">Yeni Kullanıcı</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-blue text-white rounded-circle shadow">
                                    <i class="fas fa-user-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div onclick="location.href='@Url.Action("UserList", "Admin")'" style="cursor: pointer" class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">@ViewBag.CountUser Aktif Kullanıcı</h5>
                                <span class="h2 font-weight-300 mb-0">Kullanıcılar</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                                    <i class="fas fa-users"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-4 col-lg-6">
                <div class="card activeCard card-stats mb-4 mb-xl-0">
                    <div onclick="location.href='@Url.Action("AdminSettings", "Account")'" style="cursor: pointer" class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">MEVCUT HESAP</h5>
                                <span class="h2 font-weight-300 mb-0 ">Hesap Ayarları</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                    <i class="fas fa-cogs"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
