<link href="~/Content/vendor/css/argon.min.css" rel="stylesheet" />

<!-- Heading -->
<hr style="line-height:22px" />
<!-- Heading -->

<div class="container-fluid">
    <div class="header-body">
        <!-- Card stats -->
        <div class="row">

            <div class="col-xl-4 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div onclick="location.href='@Url.Action("Feedback", "System")'" style="cursor: pointer" class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">İSTEK VE ÖNERİLER</h5>
                                <span class="h2 font-weight-300 mb-0">Geliştiriciye Ulaş</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-dark text-white rounded-circle shadow">
                                    <i class="fas fa-user-secret"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6">
                <div class="card card-stats mb-4 mb-xl-0">
                    <div onclick="location.href = '@Url.Action("PatchNotes", "System")'" style="cursor: pointer" class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">YENİLİKLER/DÜZELTMELER</h5>
                                <span class="h2 font-weight-300 mb-0">Sürüm Notları</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape orange text-white rounded-circle shadow">
                                    <i class="fas fa-list"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-6">
                <div class="card activeCard card-stats mb-4 mb-xl-0">
                    <div onclick="location.href='@Url.Action("Documentation", "System")'" style="cursor: pointer" class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">DÖKÜMANTASYON</h5>
                                <span class="h2 font-weight-300 mb-0 ">Sistem Hakkında</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                    <i class="fas fa-scroll"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
