@{
    Layout = null;
}

    <!-- Layout Sol Menu -->
    <div class="list-group list-group-flush">
        <a href="/Products/List" class="list-group-item list-group-item-action waves-effect @*bg-via*@">
            <i class="fas fa-list-ol mr-3"></i>Demirbaş Listesi
        </a>
        <a href="/Projects/List" class="list-group-item list-group-item-action waves-effect @*bg-via*@">
            <i class="fas fa-chart-line mr-3"></i>Proje - Ürün Listesi
        </a>

        <a href="/Categories/List" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-archive mr-3"></i>Ürün Kategorileri
        </a>
        <a href="/People/List" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-user-friends mr-3"></i>Personel Listesi
        </a>

        <a href="/System/Home" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-code mr-3"></i> Sistem Paneli
        </a>

        <a href="/Account/GetSettings" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-cog mr-3"></i> Hesap Ayarları
        </a>

        <a href="javascript:document.getElementById('logoutForm').submit()" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-times-circle if-3"></i>&nbsp;&nbsp;&nbsp;&nbsp;Çıkış
        </a>
    </div>